

.collapse-container {
    padding: 2rem;
    border: 2px solid #cecece;;
    background-color: #fff;
    box-sizing: border-box;
}


.collapse-btn {
    padding: 10px;
    background-color: #265cf0;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    border: 3px solid #fff;
    cursor: pointer;            
}


.collapse-btn:hover {
    animation-name: btn;  
    animation-duration: 1s;
    animation-delay: 1s;    
    animation-fill-mode: forwards;     
}

@keyframes btn {
    from {
        border-color: #fff;
    }

    to {
        border-color: #76aff5;
    }
}

.over {
    border-color: #76aff5;
    animation-name: over;  
    animation-duration: 1s;       
    animation-fill-mode: forwards;   
}

@keyframes over {
    from {
        border-color: #76aff5;
    }
    to {
        border-color: #fff;
    }
}


.description {
    display: none;
    overflow: hidden;     
    margin-top: 1rem;        
}

.active{
    display: block;
    overflow: hidden;
    animation-name: active;  
    animation-duration: 2s;    
    animation-fill-mode: forwards; 
}

@keyframes active {
    from {
        max-height: 0;
    }
    to {
        max-height: 260px;
    }
}

.deactive{   
    display: block;        
    animation-name: deactive;  
    animation-duration: 1s;    
    animation-fill-mode: forwards; 
}

@keyframes deactive {
    from {        
        max-height: 260px;
        
    }
    to {
        max-height: 0;          
        display: none;  
    }
}


